doctype html
html(lang="en")
head
  title= "Webserver"
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  include links.pug
body.container
  header
    h1 Bad request (400)
    if time
      div
        p Time: #{time}
    if error
      div
        p Error: #{error}
    if cause
      div
        p Description: #{cause}
