doctype html
html(lang="en")
head
  title= "Webserver"
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  include links.pug
body.container
  header
    h1 Internal Server Error (500)
  div
    p Please inform the server-admin with this time
    p #{time}
    p Mail to server-admin #[a(href=href) #{serveradmin}]