doctype html
html(lang="de")
  head
    title= "e-Docs Server"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href="/")
  body
    script(type='text/javascript')
      | window.__theme = 'bs4';
    h3 Web-Seite derzeit leider nicht verfügbar.
    p Bitte probieren Sie es ein wenig später oder informieren Sie den Web-Master.
